<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>My Voice</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <a href = "/pictureToSpeak">
        <button type="button" class="btn btn-link">Back</button></a>
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-4">
        <a class="navbar-brand" href="#"
          >{{current_user.first_name}}, create a new item!</a>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a class="form-inline my-2 my-lg-0" href="/home">
              <button type="button" class="btn btn-primary">Home</button>
            </a>
            <a class="form-inline my-2 my-lg-0" href="/pictureToSpeak">
              <button type="button" class="btn btn-info my-2 my-sm-0 mr-1">
                Back
              </button>
            </a>
          </div>
      </nav>


      <div id="add_message_block">
        {% if messages %}
        <class="messages">
          <div class="alert alert-primary alert-dismissible fade show mt-2" id = "login_alert" role="alert">
            <strong>An error has occurred:</strong>
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
              {{ message }}
            </p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="add_items form-group  d-flex justify-content-center mt-2" id="add">
        <form action="/create" method="POST">
          {% csrf_token %}
          <h2>Create a Speech Item</h2>
          <div class="form-group">
            <label for="saying">What do you want to say?</label>
            <input type="text" name="saying" class="form-control" />
          </div>
          <div class="form-group ">
            <label for="url">Image URL:</label>
            <input type="text" name="url" class="form-control" />
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>

      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
  
</html>
