<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header mb-4">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <!-- <a href="/pictureToSpeak">
          <button type="button" class="btn btn-link">Back</button></a
        > -->
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"
          >Welcome, {{current_user.first_name}}!</a
        >
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto"></ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="/home">
              <button type="button" class="btn btn-primary">Home</button>
            </a>
          </form>
          <form class="form-inline my-2 my-lg-0">
            <a href="/pictureToSpeak">
              <button type="button" class="btn btn-info my-2 my-sm-0 mr-1">
                Back
              </button>
            </a>
          </form>
        </div>
      </nav>

      <h6 class="mt-4">Choose an Item to Edit:</h6>

      {% for speech_item in all_speech_items %}
      <div class="custom_item">
        {% if speech_item.creator.id == current_user.id %}
        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{{ speech_item.url }}"
            alt="{{ speech_item.saying }}"
          />
          <div class="card-body">
            <p class="card-text text-center">{{ speech_item.saying }}</p>
          </div>

          <div class="delete">
            <form action="/delete/{{speech_item.id}}" , method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-block mb-2">
                Delete
              </button>
            </form>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
