<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header mb-4">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <h3>Welcome {{current_user.first_name}}!</h3>
        <a href="/typeToSpeak">
          <button type="button" class="btn btn-primary">
            Type to Speak
          </button></a
        >
        <form action="/logout" method="GET">
          {% csrf_token %}
          <button type="submit" class="btn btn-link">Log Out</button>
        </form>
      </div>
      <div class="form-group">
        <p>Select voice:</p>
        <select id="voice-select" class="form-control"></select>
      </div>
      <h5>Click an Item to Speak.</h5>

      <div class="speech_items_all">
        <h6 class = "mt-3">Common Topics:</h6>
        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/pizza.png' %}"
            alt="Slice of pizza"
          />
          <div class="card-body">
            <p class="card-text text-center">I am hungry</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/water.png' %}"
            alt="Water Bottle"
          />
          <div class="card-body">
            <p class="card-text text-center">I am thirsty</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/help.png' %}"
            alt="Arms clasped together"
          />
          <div class="card-body">
            <p class="card-text text-center">I need help</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/sick.png' %}"
            alt="Woman holding head"
          />
          <div class="card-body">
            <p class="card-text text-center">I feel sick</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/break.png' %}"
            alt="Boy sitting in chair"
          />
          <div class="card-body">
            <p class="card-text text-center">I want a break</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/outside.png' %}"
            alt="Sun shining"
          />
          <div class="card-body">
            <p class="card-text text-center">I want to go outside</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/yes.png' %}"
            alt="Yes"
          />
          <div class="card-body">
            <p class="card-text text-center">Yes</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/no.png' %}"
            alt="No"
          />
          <div class="card-body">
            <p class="card-text text-center">No</p>
          </div>
        </div>

        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/restroom.png' %}"
            alt="toilet"
          />
          <div class="card-body">
            <p class="card-text text-center">I need to go to the restroom</p>
          </div>
        </div>

        

      <h6>Custom Topics:</h6>

        <!-- TEMPLATE   LOAD ALL SPEECH ITEMS
        <div class="speech_item m-2 align-top" style="width: 6rem">
          <img
            class="card-img-top"
            src="{% static '/speech_items/IMAGE_USER_UPLOADS.png' %}"
            alt="SPEECH_ITEM_NAME"
          />
          <div class="card-body">
            <p class="card-text text-center">SPEECH ITEM NAME</p>
          </div>
        </div> -->

      <div class="footer">
        <a href="/add">
          <button type="button" class="btn btn-primary">Add</button>
        </a>
        <a href="/edit">
          <button type="button" class="btn btn-primary">Edit</button>
        </a>
      </div>



    </div>
    <script src="{% static '/js/speechSynthesisPicture.js' %}"></script>
  </body>
</html>
