<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Spot</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <h5>Welcome {{current_user.first_name}}!</h5>
        <button type="button" class="btn btn-link">Logout</button>
      </div>

      <div class="speech_items">
        <h6>Tap an Item to Speak.</h6>
        <div class="card" style="width: 150px; height: 150px">
          <a href="/home">
            <img
              class="card-img-top"
              src="{% static '/speech_items/pizza.jpg' %}"
              alt="Pizza"
            />
          </a>
          <div class="card-body">
            <p class="card-text mx-4">Pizza</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
