<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <a href="/logout">
          <button type="submit" class="btn btn-link">Log Out</button>
        </a>
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-4">
        <a class="navbar-brand" href="#"
          >{{current_user.first_name}}, speak to get text!</a
        >
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto"></ul>
          <a class="form-inline my-2 my-lg-0" href="/home">
            <button type="button" class="btn btn-primary">Home</button>
          </a>
          <!-- <button id = "start" class = "btn btn-info mr-1">Start</button>
          <button id = "stop" class = "btn btn-info">Stop</button> -->
        </div>
      </nav>

      <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <strong>Tip!</strong> Be sure you have allowed microphone to your browser. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- <div class="alert alert-light" role="alert">
        Use the start and stop buttons to control your browser's listening. Click the generated text to edit.
      </div> -->

      <h4 class="text-center mt-5">Text Output:</h4>


      <div class="speech_output" contenteditable></div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  <script src="{% static '/js/speechToText.js' %}"></script>    
</html> 

