<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="{% static '/img/MyVoiceLogo.png' %}"
          alt="My Voice Logo"
          class="header_login_logo"
        />
        <a href = "/logout">
          <button type="submit" class="btn btn-link">Log Out</button>
        </a>
      </div>

      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-4">
        <a class="navbar-brand" href="#"
          >{{current_user.first_name}}, type to speak!</a>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a class="form-inline my-2 my-lg-0" href="/home">
              <button type="button" class="btn btn-primary">Home</button>
            </a>
          </div>
      </nav>

      <div class = "row mt-4">
        <div class = "mx-auto">
          <form class = "mb-5">
            <div class="form-group">
              <textarea
                name=""
                id="text-input"
                class="form-control mb-2 "
                rows = "6"
                placeholder="Type here..."
              ></textarea>
            </div>
            <div class = "form-group">
              <p>Change voice:</p>
              <select id="voice-select" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-info btn-block mt-2">
              Speak
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    

    <script src="{% static '/js/speechSynthesis.js' %}"></script>

  </body>
</html>