<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Voice</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link href="{% static '/img/favicon.png' %}" rel="icon" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-1">
        <a class="navbar-brand" href="#">My Voice </a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/login_register"
                >Login or Register
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbo">
        <div class="jumbotron" id="welcome_jumbotron">
          <div class="d-flex justify-content-between">
            <h1 class="display-3">Welcome to My Voice!</h1>
            <img
              width="300"
              src="{% static '/img/favicon.png' %}"
              alt="my voice logo"
            />
          </div>
          <p class="lead" id="welcome_jumbotron_p">
            No matter your need, My Voice will meet you where you are. With
            three communication options, My Voice is the right choice for you.
          </p>

          <hr class="my-4" />
          <p>
            Choose between Type to Speak, Speech to Text and Picture to Speech
            options.
          </p>
          <p class="lead">
            <a class="btn btn-info btn-lg" href="/login_register" role="button"
              >Try Now</a
            >
          </p>
        </div>
      </div>

      <div class="scroll-page features" id="features">
        <h1>Features</h1>
        <h3 class="mt-5">Picture to Speech</h3>
        <div class="d-flex shadow p-3 mb-5 bg-white rounded pic_to_speak">
          <img
            src="{% static '/img/pic_to_speak.png' %}"
            alt="tutorial on picture to speak page"
            id="pic_to_speak_tutorial"
          />
          <p class="align-self-center ml-1">
            A great choice for the nonverbal community, this picture
            communication device serves as a great replacement to the picture
            exchange communication binder. Create your own speech items with
            photos and speak with just the click of a button!
          </p>
        </div>

        <h3 class="mt-5">Type to Speak</h3>
        <div class="d-flex shadow p-3 mb-5 bg-white rounded type_to_speak">
          <img
            src="{% static '/img/type_to_speak.png' %}"
            alt="tutorial on type to speak page"
            id="type_to_speak_tutorial"
          />
          <p class="align-self-center ml-1">
            Type your message in the Type to Speak feature to speak your mind!
            Just click the "Speak" button to read out your thoughts.
          </p>
        </div>

        <h3 class="mt-5">Speech to Text</h3>
        <div class="d-flex shadow p-3 mb-5 bg-white rounded speech_to_text">
          <img
            src="{% static '/img/speak_to_text.png' %}"
            alt="tutorial on speak to text"
            id="speak_to_text_tutorial"
          />
          <p class="align-self-center ml-1">
            Have trouble typing? Use the Speech to Text feature to convert
            spoken words into text. You can even edit in place as you type to
            make sure you capture everything said.
          </p>
        </div>
      </div>
      <div id="about" class="about">
        <h1>About</h1>
      </div>
    </div>
  </body>
</html>
